#map-canvas {
        width: 500px;
        height: 400px;
      }

  .navbar-brand{font-family: 'Lobster', cursive;
  font-size: 40px;
  }

  #owl-demo .item{
  margin: 3px;
}
#owl-demo .item img{
  display: block;
  width: 100%;
  height: auto;
}

.col-md-8{
  padding-left: 20px;
  margin-left: 20px;
}

body {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  height: 100%;
}

html {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  height: 100%;
}

.title-wrap {
  display: inline-block;
  height: 32px;
}

.title-text {
  font-size: 28px;
  padding: 0 0 0 0;
  margin: 0 0 0 0;
}

.body-container {
  margin: 0 0 0 0;
  padding-left: 50px;
  padding-right: 50px;
}

.navbar-final {
  margin-top: 15px;
  margin-left: 0px;
  margin-right: 0px;

  background-color: purple;
}

.navbar-list-final {
  list-style-type: none;
  display: inline;
}

.navbar {
  margin-top: 15px;
  margin-bottom: 15px;
  text-align: center;
}


.container-fluid {
  padding-left: 50px;
  padding-right: 50px;
}
.col-md-12 {
    padding-left: 0px;
  padding-right: 0px;
}

.nav {
  margin-left: auto;
  margin-right: auto;
}
.navbar-nav {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  float: none;
}

.nav-li-final {
  width: 25%;
}

.item > img {
  margin: 0 auto;
}

.regular-content {
  padding-left: 0px;
  padding-right: 0px;
  border: 1px black solid;
  border-radius: 5px;
  height: 100%;
}

.content-block {
  /*border: 1px solid black;*/
  height: 100%;

}

.content-title {
  text-decoration: underline;
}

.content-line {
  margin: 0 0 0 0;
}

.event {
  margin-top: 5px;
  margin-bottom: 5px;
}

.story {
  margin-top: 10px;
  margin-bottom: 10px;
}

.content-image-wrap {
  float: left;
}

.content-image-wrap > img{
  border-radius: 10px;
}

.content-paragraph {
  float: left;
  margin-left: 10px;
}
.clear  {
  clear: both;
}

.content-block > .story {
  padding-left: 10px;

}
.all-content {
  margin-top: 15px;
  height: 100%;
}

.spotlight {
  border: 1px solid black;
  border-radius: 5px;
  height: 100%;
}

.content-subtitle {

}

.clickable-div {
  display:block;
  color: inherit;
}

.clickable-div:hover {
  color: inherit;
  text-decoration: none;
  font-weight: bold;
}

.footer {
  text-align: center;
  margin-top: 30px;
  background-color: gray;
  height: 10px;
  padding-top: 15px;
}

.footer > .container > .text-muted {
  color: white;
}

.footer > .container > .text-muted > a{
  color: lightblue;
  
}

.story img{
  width: 100px;
  height: 100px;
}